:root {
  --main-bg-color: #FEF5EF;
  --text-color: #141414;
  --tuscan-gold: #F1D9A7;
  --khaki: #C6B89E;
  --grain-yellow: #F4D35E;
  --tuscan-red: #764248;
}

body {
  background-color: var(--main-bg-color); 
  color: var(--text-color); 
  font-family: sans-serif;
  margin: 0;
}

p {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: var(--tuscan-red); 
}

footer {
  background-color: var(--tuscan-red);
  color: var(--main-bg-color);
  padding: 20px;
  text-align: center;
}

#genderButtons {
	display: none;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp CSS modal start*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp CSS modal finish */

.additional-info-heading {
	color: var(--tuscan-red);
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}
